<div class="everything">
  <button ng-click="$ctrl.toggleShowGame()">Click to toggle game</button>
  <button ng-click="$ctrl.fullscreen()">Fullscreen</button>
  <header tags="$ctrl.tags" click-navbar-entry="$ctrl.clickNavbarEntry"></header>
  <mainframe active-game="$ctrl.activeGame" ng-show="$ctrl.showGame"></mainframe>
  <mainframe-after-render load-game="$ctrl.loadGame"></mainframe-after-render>
  <games data="$ctrl.data" click-game="$ctrl.clickGame"></games>
  <div class="footer">Site by Catherine Han - catherinehan714@gmail.com</footer>
</div>
